/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

h1 {
    text-align: center;
}

/* Contenedor principal */
body {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Imagen del componente */
img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 20px;
}

/* Detalles del componente */
p {
    margin-bottom: 15px;
}

/* Botón de descarga */
button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Volver al Catálogo */
a {
    display: block;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

.title-bar {
    background-color: #3498db; /* Color azul para la barra de título */
    color: #fff; /* Color blanco para el texto del título */
    padding: 10px;
    text-align: center;
}

.title-bar h1 {
    margin: 0;
}

.description-container {
    background-color: rgba(255, 255, 255, 0.7); /* Fondo traslúcido para el contenedor de descripción */
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

.description {
    /* Estilos adicionales para el contenido de la descripción si es necesario */
}

